// src/styles/custom.scss

// 1. Sobrescreva variáveis antes de importar Bootstrap via `@use`
$primary: #12BE4D;
$secondary: #A9A9A9;
$success: #28a745;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;

$light: #f8f9fa;
$dark: #313131;
$white: #ffffff;
$body-bg: $light;
$body-color: $dark;
$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;

$blue:    #0D90E1  !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #E1E10D  !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;
$gray:    #6c757d !default;

// 2. Use o Bootstrap SCSS (precisa do includePaths configurado no Vite)
@use "bootstrap" with (
  $primary: $primary,
  $secondary: $secondary,
  $success: $success,
  $info: $info,
  $warning: $warning,
  $danger: $danger,
  $light: $light,
  $dark: $dark,
  $white: $white,
  $body-bg: $body-bg,
  $body-color: $body-color,
  $font-family-base: $font-family-base
);

// 3. Importar Bootstrap Icons (isso pode ficar no seu HTML ou ser importado no JS, mas se quiser via SCSS):
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

