// =============================================================================
// BUTTONS - ESTILOS PARA BOTÕES
// =============================================================================

@import '../base/variables';
@import '../base/mixins';

// -----------------------------------------------------------------------------
// BOTÕES PADRÃO
// -----------------------------------------------------------------------------
.btn {
  transition: $btn-transition;

  &:hover {
    color: $primary-contrast !important;
  }

  &.btn-primary {
    background-color: $primary !important;
    color: $light !important;

    &:hover {
      background-color: $analogous-2 !important;
      color: $dark !important;
    }
  }
  &.btn-primary-green {
    background-color: $primary-green !important;
    color: $light !important;

    &:hover {
      background-color: $analogous-3 !important;
    }
  }
  &.btn-secondary {
    background-color: $light !important;
    color: $gray !important;

    &:hover {
      background-color: $secondary !important;
      color: $light !important;
    }
  }
}
